.tool {
  height: 5em;
}

.tool-container > div {
  margin-bottom: 4em;
}

.button-label {
  color: white;
}

.page-title > .h3 {
  margin: 0;
}

.tool-container {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 1050px) {
  .tool-container {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .tool-container {
    width: 100%;
    margin: auto;
  }
}